{%  load static %}
<!DOCTYPE html>
<html>
<head>

    <title>coala webServices</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/coala/coalaCSS/master/coala.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700,900|Roboto:100,200,300,400,500,600,700,800,900|Ubuntu+Mono" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.rawgit.com/coala/landing-frontend/918b2e8b/favicon.ico" type="image/x-icon" />

</head>
<body>
    {% block content %}
    {% endblock %}
    {% include "common/footer.html" %}
</body>
</html>
